*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
a:hover{
    color: orange;
}
footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: brown;
}
.main{
    color: black;
    height: 7000px;
    margin-top: 65px;
    text-align: center;
}
.title{
    border-width: 5px;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    backdrop-filter: blur(10px);
    border-bottom: rgb(168, 168, 168) solid 2px;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    display: none;
}
.action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: white;
}
.action_btn:active{
    scale: 0.95;
}
/* Drop down menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;

}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
section{
    width: 100%;
    height: 628px;
    margin-top: 42px;
    display: flex;
}

.firstsection{
    height: 480px;
    width: 55%;
    margin: 3%;
    margin-left: 115px;
    padding-left: 20px;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 3rem;
}
.orange{
    color: orange;
}
.font4{
    font-size: 4rem;
}
.secondsection{
    margin: 3%;
    padding-top: 20px;
}
.secondsection img{
    height: 550px;
    width: auto;
}
#element{
    font-weight: bold;
}
#education{
    width: 100%;
    height: 650px;
    padding-top: 70px;
}
#education .education{
    margin: 5% 10%;
    width: 100%;
    padding: 3%;
    border: rgb(168, 168, 168) solid 2px;
    border-radius: 20px;
}
.education h1{
    font-size: 3rem;
    color: orange;
    font-family:'Times New Roman', Times, serif;
}
.edu h2{
    color: white;
    font-size: 2rem;
    margin: 10px;
}
.edushift{
    margin-left: 30px;
} 
#home{
    padding-top:22px ;
}  
.about h1{
    font-size: 3rem;
    color: orange;
    font-family:'Times New Roman', Times, serif;
}
#about{
    margin-bottom: 3%;
    height: 630px;
    padding: 1%;
}
.about{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 580px;
    padding: 10px 1%;
    border: white solid 2px;
}
.absection{
    display: flex;
    width: 100%;
    height: auto;   
}
.abcont1{
    width: 60%;
    margin: 2%;
    padding: 50px;
    font-size: 1.5rem;
    border: orange solid 4px;
    border-radius: 30px;
}
.abcont2{
    width: 25%;
    margin: 2%;
    height: 300px;
    background-color: green;
}
.firstsection button{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale 0.2 ease;
}
.firstsection button:hover{
    scale: 1.05;
    color: white;
}
.firstsection button:active{
    scale: 0.95;
}
/* Contact */
#contact
{
    height: 670px;
    width: 100%;
}
.contact{
    margin: 3%;
    background-color:gray;
    width:94% ;
    border-radius: 40px;
}
.contact h1{
    font-size: 3rem;
    text-align: center;
}
.contact h1:hover{
    color: orange;
}
/* contact */

@media (min-width: 1440px){
    .home{
        background-image: url(Pcbackground.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .firstsection{
        background: rgba( 255, 255, 255, 0 );
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        backdrop-filter: blur( 9px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}
/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }    
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background: url(backgroun_phone.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }
    .home{
        width: 100%;
        height: 650px;
        display: block;
    }
    .home .firstsection{
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-top:0 ;
        padding-bottom: 0px;
        height: 300px;
    }
    .home .secondsection img {
        height: 300px;
        width: auto;
        align-content: center;
        margin: 0 10%;
    }
}